altgraph==0.17
beautifulsoup4==4.9.3
cachetools==4.2.2
certifi==2020.12.5
chardet==4.0.0
et-xmlfile==1.1.0
fake-useragent==0.1.11
future==0.18.2
idna==2.10
lxml==4.6.3
numpy==1.20.3
openpyxl==3.0.7
pandas==1.2.4
pefile==2021.5.24
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pypiwin32==223
python-dateutil==2.8.1
pytz==2021.1
pywin32==300
pywin32-ctypes==0.2.0
requests==2.25.1
six==1.16.0
soupsieve==2.2.1
urllib3==1.26.5
WooCommerce==3.0.0
xlrd==1.2.0
XlsxWriter==1.4.3
